* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #f5f6fa;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  display: grid;
}

.modal-section {
  margin: auto;
  width: 60%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
}

.modalopen {
  visibility: visible;
  opacity: 1;
}
.register {
  display: grid;
  grid-template-rows: 20vh 30vh 20vh;
  background: rgba(22, 21, 21, 0.8);
  color: #ffffff;
}

.title-regist,
.title-login,
.paragraph,
.btn-regist {
  display: grid;
  justify-content: center;
  align-items: center;
}

.title-regist h5 {
  font-size: 24px;
  border-bottom: 1px solid #cfac71;
  padding: 20px 30px;
}

.paragraph p:nth-child(1) {
  padding-left: 25px;
}
.paragraph li:before {
  line-height: 30px;
  content: "\2713";
  color: #cfac71;
  margin: 0 15px 0 30px;
}

.btn-regist a {
  color: #ffffff;
  background: #cfac71;
  border-radius: 15px;
  padding: 10px 60px;
  margin-bottom: 40px auto;
}

.login {
  position: relative;
  display: grid;
  grid-template-rows: 20vh 50vh;
  grid-template-columns: 1fr;
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.box {
  display: grid;
}
.box label {
  margin: 0 0 0 20px;
  font-size: max(20px, 14px);
}

.title-login h5 {
  font-size: 24px;
}

.inp-email,
.inp-pass {
  width: 60%;
  margin: 0 auto;
  padding: 10px 5px;
  line-height: 40px;
  transform: translateY(-30px);
}

.inp-pass {
  transform: translateY(-60px);
}
input[type="email"],
input[type="password"] {
  border: 1px solid #000000;
  padding: 3px 10px;
  width: 100%;
  height: 35px;
}

.btn-signin {
  margin: 0 auto;
  width: 50%;
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  background: #303030;
  color: #ffffff;
  transform: translateY(-30px);
}

.close {
  font-size: 30px;
  transform: rotate(45deg);
  position: absolute;
  font-weight: bold;
  top: 0;
  right: 10px;
  cursor: pointer;
}
