* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.modal {
  font-family: "Poppins";
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #f5f6fa;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  display: grid;
  overflow-y: scroll;
}

.modal-section {
  margin: auto;
  width: 60%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  justify-content: center;
  align-items: center;
}

.modalopen {
  visibility: visible;
  opacity: 1;
}
.register {
  display: grid;
  grid-template-rows: 20vh 30vh 20vh;
  background: rgba(22, 21, 21, 0.8);
  color: #ffffff;
}

.title-regist,
.title-login,
.paragraph,
.btn-regist {
  display: grid;
  justify-content: center;
  align-items: center;
}

.title-regist h5 {
  font-size: 24px;
  border-bottom: 1px solid #cfac71;
  padding: 20px 30px;
}

.paragraph p:nth-child(1) {
  padding-left: 25px;
}
.paragraph li:before {
  line-height: 30px;
  content: "\2713";
  color: #cfac71;
  margin: 0 15px 0 30px;
}

.btn-regist a {
  color: #ffffff;
  background: #cfac71;
  border-radius: 15px;
  padding: 10px 60px;
  margin-bottom: 40px auto;
}

.login {
  position: relative;
  display: grid;
  grid-template-rows: 20vh 50vh;
  grid-template-columns: 1fr;
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.box {
  display: grid;
}
.box label {
  margin: 0 0 0 20px;
  font-size: max(20px, 14px);
}

.title-login h5 {
  font-size: 24px;
}

.inp-email,
.inp-pass {
  width: 70%;
  margin: 0 auto;
  padding: 10px 5px;
  line-height: 40px;
  transform: translateY(-30px);
}

.inp-pass {
  transform: translateY(-60px);
}
.inp-email input,
.inp-pass input {
  border: 1px solid #000000;
  padding: 3px 10px;
  width: 100%;
  height: 35px;
}

.btn-signin {
  margin: 0 auto;
  width: 50%;
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  background: #303030;
  cursor: pointer;
  color: #ffffff;
  transform: translateY(-30px);
}

.close {
  font-size: 30px;
  transform: rotate(45deg);
  position: absolute;
  font-weight: bold;
  top: 0;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  .modal {
    justify-content: center;
    align-items: center;
  }
  .modal-section {
    display: grid;
    justify-content: start;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .modalopen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .register {
    height: 450px;
  }
  .title-regist h5 {
    font-size: 18px;
    padding: 2px 20px;
  }
  .paragraph {
    transform: translateY(-35px);
  }
  .paragraph p:nth-child(3) {
    text-align: left;
    padding-left: 30px;
  }
  .paragraph li {
    font-size: 12px;
  }
  .paragraph p {
    text-align: center;
    font-size: 10px;
    margin: 0 0;
    padding: 0 15px;
  }
  .btn-regist {
    transform: translateY(-85px);
  }
  .btn-regist a:hover {
    background: transparent;
    border: #cfac71 solid 1px;
  }

  .btn-regist a {
    transition: 0.2s ease;
    text-decoration: none;
    padding: 8px 35px;
  }

  .login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
  }

  .title-login {
    font-size: 16px;
  }

  .box {
    margin: 20px 0;
  }

  .inp-email,
  .inp-pass {
    width: 80%;
    padding: 10px 2px;
  }
  .inp-pass {
    margin-top: 20px;
  }
  .close {
    font-size: 28px;
    transform: rotate(45deg);
    font-weight: normal;
    right: 10px;
    color: #ffffff;
    position: absolute;
    top: -55vh;
    cursor: pointer;
  }
}
